<h1>Listing people</h1>

<p>A list of the people who have appeared on Question Time, ordered by number of appearances.</p>

<table class="table-striped">
  <tr>
    <th>Name</th>
    <th>Appearances</th>
    <th>Last Appearance</th>
  </tr>

<% @people.each do |person| %>
<% last_appearance = person.appearances.sort_by(&:date).last %>

  <tr>
    <td><%= link_to person.name, person %></td>
		<td><%= person.appearances.count %></td>
		<% if person.appearances.count > 0 %>
		<td><%= link_to last_appearance.date, last_appearance %>
		<% end %>
  </tr>
<% end %>
</table>

<%= paginate @people %>