<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Appearances</th>
    <th>Last Appearance</th>
    <th></th>
  </tr>

<% @people.sort_by { |person| person.appearances.size }.reverse.each do |person| %>
  <tr>
    <td><%= person.name %></td>
		<td><%= person.appearances.count %></td>
		<% if person.appearances.count > 0 %>
		<td><%= person.appearances.sort_by(&:date).last.date %>
		<td><%= link_to 'Details', person %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />