<h1>Listing appearances</h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appearances.each do |appearance| %>
  <tr>
    <td><%= link_to appearance.date, appearance %></td>
		<td>
			<% appearance.people.each do |person| %>
      <% if person.name != appearance.people.last.name %>
      <%= link_to person.name, person %>,
			<% else %>
      <%= link_to person.name, person %>
      <% end %>
    <% end %>
	</td>
  </tr>
<% end %>
</table>


<%= link_to 'New Appearance', new_appearance_path %>
