<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @appearance.date %>
</p>

<ul>
	<% @appearance.people.each do |person| %>
	<li><%= link_to person.name, person_path(person) %></li>
	<% end %>
</ul>

<%= link_to 'Back', appearances_path %>
